{% extends 'productos/base.html' %}

{% block body %}
<h1 class="titulo">CRUD Alfajores</h1>

<a href="{% url 'alfajor_crear' %}" class="boton">Agregar alfajor</a>

<ul class="lista">
{% for a in alfajores %}
<li class="card">
<strong>{{ a.nombre }}</strong><br>
Categoría: {{ a.categoria }}<br>
Relleno: {{ a.relleno }}<br>
Precio: ${{ a.precio }}<br>
<a href="{% url 'alfajor_editar' a.id %}" class="boton">Editar</a>
<a href="{% url 'alfajor_eliminar' a.id %}" class="boton">Eliminar</a>
</li>
{% endfor %}
</ul>

{% endblock %}

