body{
    margin:0;
    font-family: 'Trebuchet MS', sans-serif;
    background-color:#f5efe6;
    padding-bottom:70px;
}

/* NAVBAR */
.navbar{
    background-color:#5a7e50;
    padding:18px;
    text-align:center;
    box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.nav-link{
    color:white;
    text-decoration:none;
    margin:0 18px;
    font-size:15px;
    font-weight:bold;
    letter-spacing:2px;
    transition:0.3s;
}

.nav-link:hover{
    color:#2f2f2f;
}

/* CONTENEDOR */
.contenedor{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding-top:30px;
}

/* TITULOS */
.titulo{
    text-align:center;
    font-size:75px;
    color:#2f2f2f;
    font-weight:900;
    margin-bottom:10px;
    text-transform:uppercase;
    letter-spacing:4px;
}

.subtitulos{
    text-align:center;
    font-size:22px;
    color:#5a7e50;
    margin-bottom:45px;
    font-style:italic;
}

/* LISTA */
.lista{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:0;
}

/* CARDS */
.card{
    list-style:none;
    background:white;
    width:280px;
    border-radius:30px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,0.12);
    padding:25px;
    text-align:center;
    transition:0.4s;
}

.card:hover{
    transform:scale(1.03);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:20px;
    margin-bottom:15px;
}

.card strong{
    font-size:28px;
    color:#2f2f2f;
    display:block;
    margin-bottom:10px;
    font-family: Georgia, serif;
}

/* BOTONES */
.boton{
    display:inline-block;
    margin-top:15px;
    padding:14px 28px;
    border-radius:50px;
    background:white;
    color:#5a7e50;
    border:3px solid #5a7e50;
    text-decoration:none;
    font-weight:bold;
    font-size:14px;
    letter-spacing:2px;
    transition:0.3s;
}

.boton:hover{
    background:#5a7e50;
    color:white;
}

/* FORMULARIOS */
form{
    max-width:500px;
    margin:40px auto;
    background:white;
    padding:35px;
    border-radius:30px;
    box-shadow:0 8px 20px rgba(0,0,0,0.12);
}

form p{
    text-align:left;
}

form label{
    color:#2f2f2f;
    font-weight:bold;
    letter-spacing:1px;
}

form input,
form select{
    width:100%;
    padding:12px;
    border-radius:15px;
    border:2px solid #ddd;
    margin-top:6px;
    margin-bottom:18px;
    font-size:15px;
}

/* LOGIN USER */
span.nav-link{
    color:#d8c3a5;
    font-weight:bold;
}

/* FOOTER */
.piepagina{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:#5a7e50;
    color:white;
    text-align:center;
    padding:12px;
    font-size:14px;
    letter-spacing:1px;
    box-shadow:0 -3px 10px rgba(0,0,0,0.1);
}
.logo{
    width:180px;
    display:block;
    margin:10px auto 20px auto;
}

.subtituloprincipal{
    text-align:center;
    font-size:24px;
    color:#5a7e50;
    font-style:italic;
    letter-spacing:2px;
}